@vui-listSeparatorColor: #eaeaea;

#vui {
	.list( @hasSeparator: false, @isCompact: false ) {
		
		padding: 0;
		list-style: none outside none;

		& > li {
			& when (@isCompact = true ) {
				padding: 0 10px;
			}
			& when (@isCompact = false ) {
				padding: 7px 10px;
			}
			border-width: 0;
			& when (@hasSeparator = true ) {
				border-bottom: 1px solid @vui-listSeparatorColor;
			}
			& when (@hasSeparator = false ) {
				border-bottom: 1px solid transparent;
			}
			list-style: none outside none;
		}

		& > li:last-child {
			border-bottom: 1px solid transparent;
		}

	}

}
