
$vui-list-item-backgroundColor-selected: $vui-color-celestine-light-1 !default;
$vui-list-item-backgroundColor-active: $vui-color-celestine-light-1 !default;
$vui-list-item-backgroundColor-selected-active: #EBF5FC !default;

@mixin vui-list-item-selected() {
	background-color: $vui-list-item-backgroundColor-selected;
}

@mixin vui-list-item-selected-active() {
	background-color: $vui-list-item-backgroundColor-selected-active;
}

@mixin vui-list-item-active() {
	background-color: $vui-list-item-backgroundColor-active;
}
