@import '..\..\less\valenceui.less';

.vui-list {
	padding: 0px;
	list-style: none outside none;
}

.vui-list > li {
	padding: 7px 10px;
	border-bottom: 1px solid #EAEAEA;
}

.vui-list > li > input:first-child {
	float: left;
}

.vui-list > li > input:first-child + div {
	padding-left: 28px;
}

.vui-list > li:last-child {
	border-bottom: 1px solid transparent;
}
